h1 {
  font-size: 24px;
  font-weight: bold;
}

.wrapper {
  border-radius: 15px;
  background: lightgrey;
}


.redOne {
      position: relative;
      float: left;
      margin: 15px;
      width: 150px;
      height: 150px;
    }

.blueOne {
      position: relative;
      float: left;
      margin: 15px;
      width: 150px;
      height: 150px;
    }

.yellowOne {
      position: relative;
      float: left;
      margin: 15px;
      width: 150px;
      height: 150px;
    }

.greenOne {
      position: relative;
      float: left;
      margin: 15px;
      width: 150px;
      height: 150px;
    }    